<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PIACT-CEMEDE-UNA-Plataforma Interactiva de Aplicación de Clima Tropical</title>
    @*<!-- Reset -->
    <link rel="stylesheet" type="text/css" href="//meyerweb.com/eric/tools/css/reset/reset.css">
    <!-- Bootstrap -->*@
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script><!-- /Scripts/jquery.js -->
    <!--Bootrstrap CSS-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/Content/Bootstrap/bootstrap.min.css" >


    <!-- Latest compiled and minified JavaScript -->
    <script src="~/Scripts/Lib/bootstrap.min.js"></script>



    <!-- /.container -->
    <!-- Bootstrap Core CSS  Styles.Render("~/Content/bootstrap.min.css")  -->
    @Styles.Render("~/Content/logo-nav.css")
    @Styles.Render("~/Content/MainLayoutStyle.css")
    @Styles.Render("~/Content/style.css")

    <style>
        .navbar, .navbar.navbar-default {
            background-color: #333;
        }
        body {
            position: relative;
            overflow-x: hidden;
        }

        body,
        html {
            height: 100%;
        }

        .nav .open > a,
        .nav .open > a:hover,
        .nav .open > a:focus {
            background-color: transparent;
        }
    </style>

</head>

<body class="admin">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div id="wrapper">
        <div class="overlay"></div>
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">Brand</a>
                </li>
                <li>
                    <a href="/Publisher">Crear Publicacion </a>
                </li>
                <li>
                    <a href="/Login/UsersIndex">Usuarios</a>
                </li>
                <li>
                    <a href="/Login/UsersEdit">Perfil</a>
                </li>
                <li>
                    <a href="/Publisher/CreateInterview">Entrevistas</a>
                </li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Dropdown heading</li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>-->
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>

        <header class="sombrahead">
            @Html.Partial("~/Views/Shared/MenuLayout.cshtml")
        </header>
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            @*<!-- jQuery -->
            <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script><!-- /Scripts/jquery.js -->
            <!-- Bootstrap Core JavaScript -->
           <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><!-- /Scripts/bootstrap.min.js -->
            *@

            <!-- Page Content -->
            <section id="content" class="container-fluid">
                @RenderBody()
            </section>
        </div>
    </div>
    <footer>
        <section>
            <div id="" class="mitaddivpaddingmedium col-xs-12 col-md-6">
                <div class="mitaddivsinpadding">
                    <h2 class="titularpd"><strong>PIACT</strong></h2>
                    <h4 class="subtitulo">PLATAFORMA INTERACTIVA DE APLICACIÓN DEL CLIMA TROPICAL</h4>
                    <ul class="listaredes">
                        <li><a href="https://www.facebook.com/piactca"><img src="/img/icon_face.png" class="img-fluid responsive-flags" /></a></li>
                        <!--<li><a href="#"><img src="/img/icon_instagram.png" class="img-fluid responsive-flags" /></a></li>
                        <li><a href="#"><img src="/img/icon_snap.png" class="img-fluid responsive-flags" /></a></li>-->
                        <li><a href="https://www.youtube.com/channel/UCOAOHBe6J96xxtEQf8_2dYg"><img src="/img/icon_tube.png" class="img-fluid responsive-flags" /></a></li>
                        <!--<li><a href="#"><img src="/img/icon_twitter.png" class="img-fluid responsive-flags" /></a></li>-->
                        <li><a href="https://api.whatsapp.com/send?phone=50688318307"><img src="/img/icon_whatsapp.png" class="img-fluid responsive-flags" /></a></li>
                    </ul>
                </div>
            </div>
            <div id="footer-images" class="col-xs-12 col-md-6">
                <div class="dummy"></div>
                <div id="footer-conare-container" class="col-xs-4 footer-image-container">
                    <div class="centerer"></div>
                    <a href="http://www.cenat.ac.cr"><img src="/img/cenat.png" class="img-fluid" /></a>
                </div>
                <div id="footer-centat-container" class="col-xs-4 footer-image-container">
                    <div class="centerer"></div>
                    <a href="https://www.conare.ac.cr"><img src="/img/conare.png" class="img-fluid" /></a>
                </div>
                <div id="footer-observatorio-container" class="col-xs-4 footer-image-container">
                    <div class="centerer"></div>
                    <a href="http://www.cenat.ac.cr/index.php?option=com_content&view=article&id=78&Itemid=141"><img src="/img/observatorio.png" class="img-fluid" /></a>
                </div>
            </div>
        </section>
        <section class="footercopy">
            <p style="margin-bottom: 0; padding-bottom:0;">©Copyright 2017 PIACT, San Jose, Costa Rica.</p>
        </section>
    </footer>
    <script>
        $(document).ready(function () {
            var trigger = $('.hamburger'),
                overlay = $('.overlay'),
                isClosed = false;

            trigger.click(function () {
                hamburger_cross();
            });

            function hamburger_cross() {

                if (isClosed == true) {
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    isClosed = false;
                } else {
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    isClosed = true;
                }
            }

            $('[data-toggle="offcanvas"]').click(function () {
                $('#wrapper').toggleClass('toggled');
            });
        });

        $(".dropdown").on("mouseover", function () {
            $(this).attr("class", "dropdown open");
        });
        $(".dropdown").on("mouseout", function () {
            if ($(this).hasClass("open")) {
                $(this).attr("class", "dropdown");
            }
        });
        var navbar = $(".navbar-fixed-top");
        navbar = navbar.innerHeight();
        $("#content-wrapper").css("padding-top", navbar);

        var view_route = window.location.href;
        var url = view_route.split("/");
        var view_name = url[url.length - 1];
        if (view_name != "") {
            view_route = url[url.length - 1];
            if (window.location.href.includes("ublisher")) {
                $("footer").css("bottom", "auto");
            } else {
                $("footer").css("bottom", 0);
            }
            console.log(view_route);
        }
    </script>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-N7CGTC"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-N7CGTC');</script>
    <!-- End Google Tag Manager -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-75698010-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>